.button {
    height: 150px;
    width: 300px;
    border: none;
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-justify: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

.box-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 400px;
    width: 600px;
    text-align: center;
    padding-left: 25%;
    

}

.time {
    display: flex;
    justify-content: first baseline;
    height: 50px;
    width: 50px;
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-top: 100px;
}

.inputbox {
    height: auto;
    width: auto;
}

.HighScoreTable {
    display: grid;
    grid-template-columns: 200px 200px;
    text-justify: auto;
    text-align: center;
}